.current-emotion {
 
    border: 5px inset #31ff53;
    border-radius: 12px;
   
}
.emotion-choice-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px 0;
    text-align: center;
    color: #31ff53;
    
    font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}   

.emotion-choice-input{
   
    background-color: transparent;
    border: 5px solid blueviolet;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    
    color: var(#ff3131);
    font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.emotion-choice-label {
    font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;    
}