.welcome-background {
    background-color: transparent;
    background-image: url('../images/wel2.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 90%;
    height: 500px;
    position: relative;
    border: 5px solid #ff3131;
    border-radius: 20px;
    margin: 0px auto;
  
 
}
