header h1 {
  width: 1250px;
  height: 200px;
  
    background-image: url('/images/3dtop.png');
    background-size: cover;
    
    color: white;
    
   

   
  
   


}


@keyframes headerbox {
  25% {background-color: #fffbe5;}
  50% {background-color: #fffdfd;}
  75% {background-color: #ffffff;}
  100% {background-color:  #fffbe5;}
}
