@keyframes dtrain {
    0% {
        color: #ff3131;
    }

    20% {
        color: white;
    }

    40% {
        color: #f6ff00;
    }

    60% {
        color: #31ff53;
    }

    80% {
        color: #6b31ff;
    }

    100% {
        color: #ff3131;
    }
}

.user-profile-container {
    border: 5px solid #ff3131;
    border-radius: 20px;
    background-image: url('/images/dtrain.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1200px;
    height: 80%;
    margin: 0% auto;
}

.user-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 95%;
    height: 500px;
    margin-left: 2%;
    margin-bottom: 20%;
    margin-top: 1%;
}

.profile-header {
    font-size: 80px;
    font-weight: bold;
    color: #ff3131;
    text-align: center;

    font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    animation: lct 8s infinite;
    border: 5px solid #ff3131;
    border-radius: 20px;
    width: 35%;
    height: 110px;
    margin-left: 32%;
    margin-top: 20px;
   

}

.user-details-container {
    width: 33%;
    justify-content: space-evenly;
    font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border: 5px solid #6431ff;
    border-radius: 20px;
}

.user-details {
    width: 25%;
    height: 650px;
    border: 10px solid #ff3131;
    border-radius: 20px;
    background-color: black;
    margin-top: 200px;

}


.name {
    width: 100%;
    height: 50%;
    font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-radius: 20px;
    font-size: 35px;
    text-align: left;
}

.name-label {
    font-size: 40px;
    border-bottom: 5px solid #ff3131;
    background-color: #ff3131;
    width: 100%;
    text-align: right;
    color: white;
    text-align: center;
    
}

.name-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: 70%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    border: 5px solid #ff3131;
    
}

.name-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 45px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: scroll;
    height: 60%;
}

.btn-name {
    background-color: #ff3131;
    height: 35px;
    width: 100%;
    font-size: 23px;
    text-align: center;
    margin-top: 20px;
    padding: 1%;
}

.score-container{
    border: 5px solid #ff3131;
    width: 87% ;
    height: 87%;
    margin-top: 10px;
    margin-left: 10px;
}

.score-title {
    font-size: 45px;
    background-color: #ff3131;
    width: 100%;
    text-align: center;
}

.score-value {
    font-size: 75px;
    font-weight: bold;
    color: white;
    height: 35px;
    animation: dtrain 8s infinite;
    text-align: center;
    margin-top: 15px;
    margin-left: 7px;
}

.score-display {
    width: 100%;
    height: 40%;
    border-radius: 20px;
    font-size: 45px;
    text-align: left;
    font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
}

.community-post {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    font-size: 15px;
    margin-top: 30%;
}
.right-side {
    border: 10px solid #ff3131;
    border-radius: 20px;
    width: 30%;
    height: 650px;
    background-color: black;
    margin-top: 200px;

}

.email-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0px;
}

.email {
    width: 100%;
    height: 35%;
    font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-radius: 20px;
    font-size: 20px;
    text-align: left;
}

.email-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 35px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.email-label {
    font-size: 45px;
    background-color: #ff3131;
    width: 100%;
    text-align: center;

}

.btn-email {
    background-color: #ff3131;
    height: 40px;
    width: 100%;
    font-size: 25px;
    text-align: center;
    margin-top: 6px;
    padding: 1%;
}

.bio-container {
    width: 100%;
    border-radius: 20px;
    height: 80%;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.bio {
    width: 100%;
    height: 50%;
    border-radius: 20px;
    font-size: 55px;
    text-align: left;
    font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.bio-header {
    font-size: 45px;
    border-bottom: 5px solid #ff3131;
    background-color: #ff3131;
    ;
    width: 100%;
    text-align: center;
    color: white;

}

.bio-bottom {
    display: flex;
    width: 90%;
    height: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0px;
    overflow: hidden;
    margin-top: 11%;
    gap: 10px;




}

.bio-text {
    padding: 10px;
    font-size: 29px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    flex: 1;
    overflow-y: scroll;
    width: 100px;
    height: 200px;
}

.bio-btn {
    background-color: #ff3131;
    height: 50px;
    width: 100%;
    font-size: 13px;
    text-align: center;
}



.btn-post {
    background-color: #ff3131;
    height: 50px;
    width: 80%;
    font-size: 25px;
    text-align: center;
    padding: 1%;
}


.user-art-section {
    border: 10px solid #ff3131;
    border-radius: 20px;
    width: 45%;
    height: 650px;
    background-color: black;
    margin-top: 200px;
}

.art-description {
    width: 95%;
    height: 425px;
    font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-radius: 20px;
    font-size: 25px;
    text-align: left;
}

.monster-image2 {
    border: 5px solid #ff3131;
    background-color: white;
    margin-bottom: 0px;
    margin-left: 25px;
    margin-top: 30px;
    border-radius: 15px;
   
}

.art-header {
    font-size: 40px;
    border-bottom: 5px solid #ff3131;
    background-color: #ff3131;
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.art-item {
    width: 100%;
    height: 350px;



}




.art-action-delete {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-top: 55px;
    margin-left: 10px;
}

.btn-prod {
    background-color: #ff3131;
    height: 50px;
    width: 90%;

    text-align: center;
    padding: 1%;
    font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 25px;
}

.btn-proview {
    background-color: #ff3131;
    height: 50px;
    width: 90%;
    font-size: 25px;
    text-align: center;
    margin-bottom: 1%;
    padding: 1%;
    font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;


}

.art-title {
    font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 40px;
    color: white;
    margin-top: 10px;
    margin-left: 20px;
    width: 90%;
    height: 40px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    flex: 1;
    overflow-y: scroll;
}

.btn4 {
    background-color: #ff3131;
    height: 30px;
    padding: 1%;
    width: 88%;
    font-size: 25px;
    margin-left: 15px;
    margin-top: 10px;
}

.editname {
   
    font-family: "Bitcount Prop Double", system-ui;
    font-size: 30px;
    font-optical-sizing: auto;
    font-weight: 300;
    width: 92% ;
    height: 60px;
    margin-left: 5px;
}

.bio-textarea {
    margin-left: 10px;
    font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    width: 95%;
    margin-top: 10px;
    height: 240px;
    font-size: 25px;

}

.bio-text {
    margin-bottom: 20px;


}

.bio-buttons {
    display: flex;

    height: 10px;
    align-items: flex-end;
    margin-top: 40px;
    padding: 1%;
}

.bio-section {

    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2750px;


}

.bio-bottom {
    margin-top: 30px;
    font-size: 25px;
    font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    color: white;
}

.btn5 {
    background-color: #ff3131;
    height: 40px;
    font-size: 25px;
    padding: 1%;
    width: 60%;


}

.noArt {
    font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 30px;
    color: white;

}