.admin-profile-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;


    border: 5px solid  rgb(242, 0, 0);
    border-radius: 20px;
}
.admin-header {
    color: var(--offWhite);
    font-size: 58px;
   
    text-align: center;
    background-color: rgb(242, 0, 0);
    border-bottom: 5px solid rgb(239, 237, 231);
     font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.admin-profile-container h3 {
    color: var(--offWhite);
    font-size: 24px;
    margin-bottom: 20px;
    background-color:  rgb(242, 0, 0);
    font-weight: bold;
    background-color: ;

}
.admin-profile-container h4 {
    color: var(--offWhite);
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
      font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.admin-actions {
    margin-bottom: 20px;
}
li {
    word-spacing: 10px;
    
    
}
.art-list{
    width: 95%;
    border: 5px solid rgb(242, 0, 0);
    border-radius: 20px;
    height: 400px;
    overflow-y: scroll;
}
.user-list{
    width: 95%;
    border: 5px solid rgb(242, 0, 0);
    border-radius: 20px;
    height: 400px;
    overflow-y: scroll;
}


.user-item,
.art-item {
 
    color:  rgb(237, 237, 237);
    text-align: left;
    margin-left: 10px;
     font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 20px;
}

.user-item:last-child,
.art-item:last-child {
    border-bottom: none;
}

.delete-admin {
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    text-align:right;
    margin-right: 65px;
}

.delete-admin:hover {
    text-decoration: underline;
}

