  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    padding: 10px 20px;
    font-family: "Quicksand", sans-serif;
    color: var(--offWhite);
    border: 2px solid blueviolet;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .navbar-item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    color: var(--offWhite);
  }

  .navbar-link {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
    border: 1px solid red;
  }

  .navbar-logout {
    margin-left: auto;
  }

  .navbar-link:hover {
    color: var(--primary);
  }